<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/MyStyle.css}">
</head>
<body>
<h1>Group of students:</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Course</th>
        <th>Faculty</th>
        <th>Expel a student</th>
    </tr>
    <th:block th:each="current:${students_list}">
        <tr>
            <td th:text="${current.id}"></td>
            <td th:text="${current.name}"></td>
            <td th:text="${current.course}"></td>
            <td th:text="${current.faculty}"></td>
            <td><a th:href="@{/students/delete/{id}(id=${current.id})}">Expel</a></td>

        </tr>
    </th:block>
</table>
<form th:action="@{students}" th:method="post" th:object="${student}">

    <input type="text" th:field="*{name}"/>
    <input type="text" th:field="*{course}"/>
    <input type="text" th:field="*{faculty}"/>

    <input type="submit" value="Submit"/>

</form>
</body>
</html>